body {
  background-color: #292b2c;
}
.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:30px
}

.mt-35 {
    margin-top: 30vh;
}
form{
    width: 60vh;
    height: 400px;

    /* border: 1px solid gray ; */
}
#player1,#player2{
   width: 98%;
   height:60px;
   background-color:transparent ;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 20px rgb(4, 4, 4);
   color: azure;
   font-size: large;
   font-family: monospace;
}
input::placeholder{
    color: gray;
    font-size: medium;
    font-family: monospace;
}
#enter{
    width: 98%;
    height:50px;
    background-color:	#42ba96 ;
    border: none;
    box-shadow: 5px 5px 10px rgb(4, 4, 4);
    color: black;
    font-size: large;
    font-family: monospace;


}
#error{
    font-size: large;
    font-family: monospace;
    color: red;
}