.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-radius: 20px;
  background-color: #dedbdb;
  font-family: 'Lexend Peta', sans-serif;

  /* box-shadow: 5px 5px 6px rgba(48, 47, 47, 0.761); */
  border: none;
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6vh;
}
#reset {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 100px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.dccb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: static;
  /* gap: 20px; */

}
.dccr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: static;
  gap: 20px;

}
.dcc1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
#vs{
  width: 100px;
  height: 200px;
}
#player1{
    width: 40px;
    height: 40px;
}
#player2{
  width: 40px;
  height: 40px;
}
#umpire{
  width: 100px;
  height: 100px;
  margin-top: -10px;

}
h1,h2,h4{
  font-family: 'Lexend Peta', sans-serif;
}
.count{
  width: 76px;
  height: 80px;
  margin-left: 1px;
  background-color: black;
}
.displaycount{
color:white;
font-size:60px
}
.border{
  border: 1px solid gray;
  border-radius: 30px;
}
.players{
  height:300px
}
.scorebox{
  width: 77px;
  height: 80px;
  background-color: black;
}
/* .player1{
  width: 50%;
  float:left
}
.player2{
  width: 50%;
  float:right
} */