.register{
  height: 100vh;
}
.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-radius: 20px;
  background-color: #505050;
  font-family: 'Lexend Peta', sans-serif;
  border: none;
  font-weight: 500;
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#reset {
  width: 150px;
  height: 60px;
  border: none;
  font-family: 'Lexend Peta', sans-serif;
  border-radius: 100px;
  font-size: smaller;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.dccb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.dccr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: static;
  gap: 20px;

}
.dcc1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.dccx{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
#vs{
  width: 70px;
  height: 200px;
}
#player1{
    width: 30px;
    height: 30px;
}
#player2{
  width: 30px;
  height: 30px;
}
h1,h2,h4,p{
  font-family: 'Lexend Peta', sans-serif;
  font-size: small;
  font-weight: 100;
}
.count{
  width: 76px;
  height: 80px;
  margin-left: 1px;
  background-color: black;
}
.displaycount{
color:white;
font-size:60px
}
.border1{
  border: 1px solid rgb(72, 70, 70);
}
.players{
  height:150px
}
.scorebox{
  width: 77px;
  height: 80px;
  background-color: black;
}
/* .player1{
  width: 50%;
  float:left
}
.player2{
  width: 50%;
  float:right
} */